.peerFeedbackAdminTable
{

	border-collapse: collapse;
	width:90%;
}


.peerFeedbackAdminTable td
{
	border-bottom:1px solid #ccc;	
	padding:5px;

}

.pfAdmin_label
{
	font-weight:bold;
}

#distributionPointsInputDiv
{
	padding-top:12px;
}



.csvUploadDemoTable
{
	border-collapse: collapse;

}
.csvUploadDemoTable td
{
	border:1px solid #ccc;
	padding:10px;
	width:100px;
	vertical-align: text-top;
}

